<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Register</h1>
  <form *ngIf="playerForm != null" [formGroup]="playerForm" (ngSubmit)="edit()" novalidate>
    <div class="form-group">
      <label for="nickname">
        Nickname
      </label>
      <input type="text"
             id="nickname"
             class="form-control"
             formControlName="nickname">
      <div
        *ngIf="playerForm.get('nickname').invalid && (playerForm.get('nickname').dirty || playerForm.get('nickname').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('nickname').hasError('required')">
          Nickname is required
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('minlength')">
          Nickname must be at least 2 characters
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('maxlength')">
          Nickname must be less than 21 characters
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('pattern')">
          Nickname must only contain numbers and letters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="country">
        Country
      </label>
      <select id="country"
              class="form-control"
              formControlName="country"
              *ngIf="countries != null">
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
      <div *ngIf="playerForm.get('country').hasError('required') && playerForm.get('country').touched"
           class="alert alert-danger">
        Country is required
      </div>
    </div>
    <div class="form-group">
      <label for="steamid">
        Steam ID
      </label>
      <input type="text"
             id="steamid"
             class="form-control"
             formControlName="steamid">
    </div>
    <div class="form-group">
      <label for="battleTag">
        Battle tag
      </label>
      <input type="text"
             id="battleTag"
             class="form-control"
             formControlName="battleTag">
      <div
        *ngIf="playerForm.get('battleTag').invalid && (playerForm.get('battleTag').dirty || playerForm.get('battleTag').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('battleTag').hasError('pattern')">
          Battle tag must be in format 'nickname#id'
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="originid">
        Origin ID
      </label>
      <input type="text" id="originid" class="form-control" formControlName="originid">
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!playerForm.valid">EDIT</button>
  </form>
</div>
