<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Register</h1>
  <form [formGroup]="playerForm" (ngSubmit)="register()" novalidate>
    <div class="alert alert-danger" *ngIf="error != ''">
      {{error}}
    </div>
    <div class="form-group">
      <label for="username">
        Username
      </label>
      <input type="text" id="username" class="form-control" formControlName="username">
      <div *ngIf="playerForm.get('username').invalid && (playerForm.get('username').dirty || playerForm.get('username').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('username').hasError('required')">
          Username is required
        </div>
        <div *ngIf="playerForm.get('username').hasError('minlength')">
          Username must be at least 2 characters
        </div>
        <div *ngIf="playerForm.get('username').hasError('maxlength')">
          Username must be less than 21 characters
        </div>
        <div *ngIf="playerForm.get('username').hasError('pattern')">
          Username must only contain numbers and letters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="email">
        E-mail
      </label>
      <input type="email" id="email" class="form-control" formControlName="email">
      <div *ngIf="playerForm.get('email').invalid && (playerForm.get('email').dirty || playerForm.get('email').touched)" class="alert alert-danger">
        <div *ngIf="playerForm.get('email').hasError('required')">
          E-mail is required
        </div>
        <div *ngIf="playerForm.get('email').hasError('email')">
          E-mail must be a valid e-mail address.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="emailConfirm">
        Confirm e-mail
      </label>
      <input type="email" id="emailConfirm" class="form-control" formControlName="emailConfirm">
      <div *ngIf="playerForm.get('emailConfirm').invalid && (playerForm.get('emailConfirm').dirty || playerForm.get('emailConfirm').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('emailConfirm').hasError('required')">
          Both e-mail fields are required
        </div>
        <div *ngIf="playerForm.get('emailConfirm').hasError('matchValue')">
          E-mails must match
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="password">
        Password
      </label>
      <input type="password" id="password" class="form-control" formControlName="password">
      <div *ngIf="playerForm.get('password').invalid && (playerForm.get('password').dirty || playerForm.get('password').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('password').hasError('required')">
          Password is required.
        </div>
        <div *ngIf="playerForm.get('password').hasError('minlength')">
          Password must be at least 8 characters
        </div>
        <div *ngIf="playerForm.get('password').hasError('maxlength')">
          Password must be less than 20 characters
        </div>
        <div *ngIf="playerForm.get('password').hasError('pattern')">
          Password must contain one lowercase, one uppsercase letter, a number and one of the following special characters: .,$!@#
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="passwordConfirm">
        Repeat password
      </label>
      <input type="password" id="passwordConfirm" class="form-control" formControlName="passwordConfirm">
      <div *ngIf="playerForm.get('passwordConfirm').invalid && (playerForm.get('passwordConfirm').dirty || playerForm.get('passwordConfirm').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('passwordConfirm').hasError('required')">
          Both password fields are required
        </div>
        <div *ngIf="playerForm.get('passwordConfirm').hasError('matchValue')">
          Passwords do not match
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="nickname">
        Nickname
      </label>
      <input type="text" id="nickname" class="form-control" formControlName="nickname">
      <div *ngIf="playerForm.get('nickname').invalid && (playerForm.get('nickname').dirty || playerForm.get('nickname').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('nickname').hasError('required')">
          Nickname is required
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('minlength')">
          Nickname must be at least 2 characters
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('maxlength')">
          Nickname must be less than 21 characters
        </div>
        <div *ngIf="playerForm.get('nickname').hasError('pattern')">
          Nickname must only contain numbers and letters
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="country">
        Country
      </label>
      <select id="country" class="form-control" formControlName="country" *ngIf="countries != null">
        <option *ngFor="let country of countries" [value]="country">{{country}}</option>
      </select>
      <div *ngIf="playerForm.get('country').hasError('required') && playerForm.get('country').touched" class="alert alert-danger">
        Country is required
      </div>
    </div>
    <div class="form-group">
      <label for="steamid">
        Steam ID
      </label>
      <input type="text" id="steamid" class="form-control" formControlName="steamid">
      <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=209000244" target="_blank">What's my steam ID?</a>
    </div>
    <div class="form-group">
      <label for="battleTag">
        Battle tag
      </label>
      <input type="text" id="battleTag" class="form-control" formControlName="battleTag">
      <div *ngIf="playerForm.get('battleTag').invalid && (playerForm.get('battleTag').dirty || playerForm.get('battleTag').touched)"
        class="alert alert-danger">
        <div *ngIf="playerForm.get('battleTag').hasError('pattern')">
          Battle tag must be in format 'nickname#id'
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="originid">
        Origin ID
      </label>
      <input type="text" id="originid" class="form-control" formControlName="originid">
      <a href="https://answers.ea.com/t5/Technical-Issues/How-To-Find-Your-Origin-ID/td-p/6536117" target="_blank">What's my origin ID?</a>
    </div>
    <button class="btn btn-primary btn-block" type="submit" [disabled]="!playerForm.valid">REGISTER</button>
  </form>
</div>