<nav class="navbar navbar-inverse" *ngIf="isLoggedIn() === true">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">5S</a>
    </div>

    <ul class="nav navbar-nav pull-right">
      <li>
        <input type="text" placeholder="Search for user..." name="search" (keypress)="keyPressed($event)" [(ngModel)]="searchTerm"
        />
        <button class="btn btn-sm btn-default" (click)="searchForPlayers()" [class.invisible]="searchTerm === ''">SEARCH</button>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">
          <span *ngIf="localStorageService.hasItem('nickname')">
            {{localStorageService.getItem('nickname')}}
          </span>
          <span *ngIf="localStorageService.getItem('friendRequests') != null && +localStorageService.getItem('friendRequests') > 0"
            class="label label-danger">
            {{+localStorageService.getItem('friendRequests')}}
          </span>
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li *ngIf="localStorageService.getItem('hasCompletedQuiz') === 'false'">
            <a (click)="takeQuiz()">Take the quiz
            </a>
          </li>
          <li *ngIf="localStorageService.getItem('friendRequests') != null && +localStorageService.getItem('friendRequests') > 0">
            <a (click)="viewFriendRequests()">
              Friend requests
              <span class="label label-danger">{{+localStorageService.getItem('friendRequests')}}</span>
            </a>
          </li>
          <li>
            <a [routerLink]="['/edit']">Edit profile</a>
          </li>
          <li>
            <a [routerLink]="['/friends']">Friends</a>
          </li>
          <li>
            <a [routerLink]="['/find']">Find players</a>
          </li>
          <li>
            <a (click)="logout()">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="col-md-10 col-md-offset-1">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="text-center">
  <hr/>
  <footer>Copyright &copy; Ferid Memed FINKI WP {{year}}</footer>
</div>