<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Rating player 
    <a [routerLink]="['/user', username]">{{username}}</a>
  </h1>
  <br/>
  <form [formGroup]="rateForm" (ngSubmit)="ratePlayer()" novalidate>
    <app-quiz-question [question]="'Solo'" [leftSideText]="'Least'" [rightSideText]="'Most'" [min]="-5" [max]="5" [step]="0.1"
      [control]="rateForm.controls.solo">
    </app-quiz-question>
    <br/>
    <app-quiz-question [question]="'Skill'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
      [control]="rateForm.controls.skill">
    </app-quiz-question>
    <br/>
    <app-quiz-question [question]="'Speech'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
      [control]="rateForm.controls.speech">
    </app-quiz-question>
    <br/>
    <app-quiz-question [question]="'Spirit'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
      [control]="rateForm.controls.spirit">
    </app-quiz-question>
    <br/>
    <app-quiz-question [question]="'Sophistication'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
      [control]="rateForm.controls.sophistication">
    </app-quiz-question>
    <br/>
    <button class="btn btn-block btn-primary" type="submit">RATE</button>
  </form>
</div>