<div class="text-center" *ngIf="statName != null">
  <h3>{{statName}}</h3>
</div>
<div class="score-container">
  <div class="score">
    <div class="score-value score-negative"
         [ngStyle]="{'width': negativeWidth}">
    </div>
  </div>
  <div class="score-divider"></div>
  <div class="score">
    <div class="score-value score-positive"
         [ngStyle]="{'width': positiveWidth}">
    </div>
  </div>
</div>
