.score-container {
  height: 20px;
  width: auto;
  display: flex;
}

.score {
  width: 49.5%;
  height: 100%;
  border: 1px solid black;
}

.score-divider {
  width: 1%;
  height: 100%;
  background-color: black;
  display: inline-block;
}

.score-value {
  height: 75%;
  margin-top: 2.5px;
}

.score-negative {
  background-color: red;
  float: right;
}

.score-positive {
  background-color: green;
  float: left;
}
