<div>
  <form [formGroup]="postForm" novalidate (ngSubmit)="post()">
    <div class="form-group">
      <label for="text" class="center-block">
        <textarea id="text"
               class="form-control"
               formControlName="text"
               placeholder="New post...">
              </textarea>
        <div
          *ngIf="postForm.get('text').invalid && (postForm.get('text').dirty || postForm.get('text').touched)"
          class="alert alert-danger">
          <div *ngIf="postForm.get('text').hasError('required')">
            Post must not be empty
          </div>
          <div *ngIf="postForm.get('text').hasError('minlength')">
            Post must have at least 2 characters
          </div>
          <div *ngIf="postForm.get('text').hasError('maxlength')">
            Post must have less than 161 character
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label for="link" class="center-block">
        <input id="link"
               type="text"
               class="form-control"
               formControlName="link"
               placeholder="Image...">
        <div
          *ngIf="postForm.get('link').invalid && (postForm.get('link').dirty || postForm.get('link').touched)"
          class="alert alert-danger">
          <div *ngIf="postForm.get('link').hasError('pattern')">
            Link must be valid
          </div>
        </div>
      </label>
    </div>
    <button type="submit" class="btn btn-primary btn-block" [disabled]="!postForm.valid" *ngIf="postForm.valid">POST</button>
  </form>
</div>
