<!--The content below is only a placeholder and can be replaced.-->
<div class="text-center">
  <div class="col-md-4 well">
    <app-player-rating [rating]="rating"></app-player-rating>
  </div>
  <div class="col-md-4 well">
    <app-new-post (newPostEvent)="addPost($event)"></app-new-post>
    <app-post-list [posts]="posts"></app-post-list>
  </div>
  <div class="col-md-4 well">
    <app-friend-news></app-friend-news>
  </div>
</div>