<div class="well" *ngIf="friendRequests != null && friendRequests.length > 0">
  <h3 class="text-center">Friend requests</h3>
  <app-friend-request-compact [friendRequest]=friendRequest *ngFor="let friendRequest of friendRequests" (requestResolved)="requestResolved($event)"></app-friend-request-compact>
</div>
<h3 *ngIf="friendRequests == null || friendRequests.length == 0">No pending friend requests.</h3>