<div class="well text-center" *ngIf="resolved == false">
  <h3>User: {{friendRequest.username}}
  </h3>
  <a [routerLink]='["/user", this.friendRequest.username]'>View profile</a>
  <br/>
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <a class="btn btn-block btn-success" (click)="resolve(true)">ACCEPT</a>
    </div>
    <div class="col-md-4 col-md-offset-2">
      <a class="btn btn-block btn-danger" (click)="resolve(false)">DECLINE</a>
    </div>
  </div>
</div>