<div *ngIf="userExists == true">
  <div class="text-center">
      <div class="col-md-4 well">
        <app-player-interaction [username]="username"></app-player-interaction>
      </div>
    <div class="col-md-4 well">
      <app-player-rating [rating]="rating"></app-player-rating>
    </div>
    <div class="col-md-4 well">
      <app-post-list [posts]="posts"></app-post-list>
    </div>
  </div>
</div>
<div *ngIf="userExists == false" class="text-center">
  <h3>User with username {{username}} does not exist.</h3>
  <a routerLink="/home" class="btn btn-success">Home</a>
</div>