<div class="col-md-6 col-md-offset-3 text-center">
  <h1>Quiz</h1><br/>
  <form [formGroup]="quizForm" (ngSubmit)="submitQuiz()" novalidate>
    <app-quiz-question
      [question]="'When playing a team game (Dota 2, LoL, CS), how much do you rely on your team?'"
      [leftSideText]="'Fully'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.solo1">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'You see a teammate in trouble, how likely is it that you are going to help them?'"
      [leftSideText]="'Very'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.solo2">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you tend to play most of your games alone, or with a group of your friends?'"
      [leftSideText]="'With friends'" [rightSideText]="'Alone'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.solo3">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you take other peoples ideas, suggestions and advice into consideration when making a decision?'"
      [leftSideText]="'Always'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.solo4">
    </app-quiz-question>
    <br/>

    <app-quiz-question
      [question]="'How often do you communicate with teammates through any means (text, voice, pings)?'"
      [leftSideText]="'Never'" [rightSideText]="'Always'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.speech1">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'How well are you versed in game terminology?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Very well'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.speech2">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do your teammates have an easy time of understanding you?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Absolutely'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.speech3">
    </app-quiz-question>
    <br/>

    <app-quiz-question
      [question]="'Do you tend to be positive most of the time?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Always'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.spirit1">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Your team is losing or has made a bad play, do you keep your teams hopes up and believe you can still win?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Always'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.spirit2">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'How likely is it that you are going to make a joke about something while playing a game?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Very'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.spirit3">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you tend to raise your teams morale and spirit by encouraging, praising or motivating them?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Always'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.spirit4">
    </app-quiz-question>
    <br/>

    <app-quiz-question
      [question]="'Do you curse a lot while you play video games?'"
      [leftSideText]="'Definitely'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph1">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'You and one of your teammates are having a difference in opinion, in order to resolve the conflict do you tend to scream at your teammates, or do you keep your composure and try to rationally explain yourself?'"
      [leftSideText]="'Scream'" [rightSideText]="'Stay calm'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph2">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'How often are you late for a meeting?'"
      [leftSideText]="'Very'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph3">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you easily lose your temper?'"
      [leftSideText]="'Absolutely'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph4">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you tend to be polite even when explaining to someone that they are wrong?'"
      [leftSideText]="'Not at all'" [rightSideText]="'Absolutely'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph5">
    </app-quiz-question>
    <br/>
    <app-quiz-question
      [question]="'Do you think that your opinions are absolute?'"
      [leftSideText]="'Absolutely'" [rightSideText]="'Not at all'"
      [min]="-5" [max]="5" [step]="0.1"
      [control]="quizForm.controls.soph6">
    </app-quiz-question>
    <br/>

    <button class="btn btn-block btn-primary" type="submit">SUBMIT</button>
  </form>
</div>
