<div class="text-left">
  <div *ngIf="player != null">
    <h3>{{player.nickname}}</h3>
    <div *ngIf="player.steamId != null && player.steamId != ''">
      Steam
      <a [attr.href]="getSteamProfileLink()" target="_blank">profile</a>
    </div>
    <div *ngIf="player.battleTag != null && player.battleTag != ''">
      Battle tag:
      <a href="https://worldofwarcraft.com/en-us/news/13645404/chat-with-friends-in-the-battle-net-desktop-app" target="_blank">{{player.battleTag}}</a>
    </div>
    <div *ngIf="player.originId != null && player.originId != ''">
      Origin ID:
      <a href="https://help.ea.com/en-nz/help/origin/origin/origin-faq/" target="_blank">{{player.originId}}</a>
    </div>
    <br/>
  </div>
  <p *ngIf="hasFriendRequest == true">
    Friend request pending.
  </p>
  <div *ngIf="hasFriendRequest == false">
    <a *ngIf="isFriend == false" class="btn btn-block btn-success" (click)="addFriend()">ADD FRIEND</a>
    <a *ngIf="isFriend == true && isRated == false" class="btn btn-block btn-primary" (click)="rate()">RATE</a>
  </div>
</div>