<div class="col-md-6 col-md-offset-3 text-center">
  <h1>5S Login</h1>
  <form [formGroup]="userForm" (ngSubmit)="login()" novalidate>
    <div class="form-group">
      <label for="username" class="center-block">
        <div *ngIf="error"
             class="alert alert-danger">
          Username or password are incorrect.
        </div>
        Username:
        <input id="username"
               type="text"
               class="form-control"
               formControlName="username">
        <div
          *ngIf="userForm.get('username').invalid && (userForm.get('username').dirty || userForm.get('username').touched)"
          class="alert alert-danger">
          <div *ngIf="userForm.get('username').hasError('required')">
            Username is required
          </div>
          <div *ngIf="userForm.get('username').hasError('minlength')">
            Username must be at least 2 characters
          </div>
          <div *ngIf="userForm.get('username').hasError('maxlength')">
            Username must be less than 21 characters
          </div>
          <div *ngIf="userForm.get('username').hasError('pattern')">
            Username must only contain numbers and letters
          </div>
        </div>
      </label>
    </div>
    <div class="form-group">
      <label for="password" class="center-block">
        Password:
        <input id="password"
               type="password"
               class="form-control"
               formControlName="password">
        <div
          *ngIf="userForm.get('password').invalid && (userForm.get('password').dirty || userForm.get('password').touched)"
          class="alert alert-danger">
          <div *ngIf="userForm.get('password').hasError('required')">
            Password is required
          </div>
          <div *ngIf="userForm.get('password').hasError('minlength')">
            Password must be at least 8 characters
          </div>
          <div *ngIf="userForm.get('password').hasError('maxlength')">
            Password must be less than 20 characters
          </div>
          <div *ngIf="userForm.get('password').hasError('pattern')">
            Password must contain one lowercase, one uppsercase letter, a number and one of the following special
            characters: .,$!@#
          </div>
        </div>
      </label>
    </div>
    <button type="submit" class="btn btn-success btn-block" [disabled]="!userForm.valid">SUBMIT</button>
    <p>Don't have an account? <a routerLink="/register">Register</a></p>
  </form>
</div>
