<div *ngIf="friends == null || friends.length == 0" class="text-center col-md-4 col-md-offset-4">
  <h3>No friends yet, <a [routerLink]="['/find']">find some.</a></h3>
</div>
<div *ngFor="let friend of friends" class="col-md-4 col-md-offset-4">
  <app-player-compact [player]=friend></app-player-compact>
</div>