<div *ngIf="rating != null">
  <app-rating-value [value]=rating.solo [statName]="'Solo'"></app-rating-value>
  <app-rating-value [value]=rating.skill [statName]="'Skill'"></app-rating-value>
  <app-rating-value [value]=rating.speech [statName]="'Speech'"></app-rating-value>
  <app-rating-value [value]=rating.spirit [statName]="'Spirit'"></app-rating-value>
  <app-rating-value [value]=rating.sophistication [statName]="'Sophistication'"></app-rating-value>
</div>
<div *ngIf="rating == null">
  <h3 >This player has no ratings yet.</h3>
</div>