<div class="form-group">
  <label style="width: 100%;">
    {{question}}
    <div class="row">
      <div class="col-md-3 vertical-text">{{leftSideText}}</div>
      <div class="col-md-6">
        <nouislider [min]="min" [max]="max" [step]="step" [formControl]="control"></nouislider>
      </div>
      <div class="col-md-3 vertical-text">{{rightSideText}}</div>
    </div>
  </label>
</div>
