<div class="col-md-6 col-md-offset-3 text-center">
  <div *ngIf="hasResult == false">
    <h1>Find a player</h1>
    <br/>
    <form [formGroup]="findPlayersForm" (ngSubmit)="findPlayers()" novalidate>
      <app-quiz-question [question]="'Solo'" [leftSideText]="'Least'" [rightSideText]="'Most'" [min]="-5" [max]="5" [step]="0.1"
        [control]="findPlayersForm.controls.solo">
      </app-quiz-question>
      <br/>
      <app-quiz-question [question]="'Skill'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
        [control]="findPlayersForm.controls.skill">
      </app-quiz-question>
      <br/>
      <app-quiz-question [question]="'Speech'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
        [control]="findPlayersForm.controls.speech">
      </app-quiz-question>
      <br/>
      <app-quiz-question [question]="'Spirit'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
        [control]="findPlayersForm.controls.spirit">
      </app-quiz-question>
      <br/>
      <app-quiz-question [question]="'Sophistication'" [leftSideText]="'Low'" [rightSideText]="'High'" [min]="-5" [max]="5" [step]="0.1"
        [control]="findPlayersForm.controls.sophistication">
      </app-quiz-question>
      <br/>
      <div class="form-group">
        <label for="country">
          Country
        </label>
        <select id="country" class="form-control" formControlName="country" *ngIf="countries != null">
          <option *ngFor="let country of countries" [value]="country">{{country}}</option>
        </select>
      </div>
      <button class="btn btn-block btn-primary" type="submit">FIND</button>
    </form>
  </div>
  <div *ngIf="hasResult == true">
    <div class="well clickable" *ngFor="let matchedPlayer of matchedPlayers" (click)="viewProfile(matchedPlayer.username)">
      <h3>{{matchedPlayer.nickname}} = {{matchedPlayer.matching | number:'.0-2'}}%</h3>
    </div>
    <button class="btn btn-block btn-primary" (click)="findAgain()">MATCH AGAIN</button>
  </div>
</div>