<div *ngIf="post != null" class="well text-left">
  <div *ngIf="localStorageService.getItem('username') !== post.username">
    <a [routerLink]="['/user', post.username]"><h3 *ngIf="post.username != null">{{post.username}}</h3></a>
  </div>
  <p>{{post.text}}</p>
  <div *ngIf="post.link != null">
    <img *ngIf="isImage()" [src]="getUrl()" class="img img-responsive" />
  </div>
  <!-- Comments -->
</div>