/* You can add global styles to this file, and also import other style files */
@import "~nouislider/distribute/nouislider.css";
a.dropdown-toggle,
.dropdown-menu > li > a {
  cursor: pointer;
}

.vertical-text {
  line-height: 35px;
}
